data
.env
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
**/terraform.tfvars
crash.log
crash.*.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

**/.terraform.lock.hcl
.DS_Store
logs
